.wrapper {
    margin: 5%;
    min-height: 100vh;
    .books{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 740px) {
    .wrapper{
        .books {
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: space-around;
        }
    }
}