@import './settings.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_text;
    font-size: 14px;
    // color: #402E32;
    color: #212427;
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_title;
}

h1 {
    font-size: 35px;
    letter-spacing: 1px;
}
h2 {
    font-size: 16px;
}

h3 {
    font-size: 25px;
}

a {
    text-decoration: none;
    background: #000;
}

@media (min-width: 540px) {
    * {
        font-size: 16px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 35px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 40px;
    }
}

@media (min-width: 1600px) {
    h1 {
        font-size: 70px;
    }
    h3 {
        font-size: 60px;
    }
}