@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600&family=Merriweather+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
$font_title: 'Catamaran', sans-serif;;
$font_text: 'Merriweather Sans', sans-serif;
$font_logo: 'Indie Flower', cursive;
$bgc_header: #F3DEBA;
$bgc_btn: #ABC4AA;
$bgc_introduction: #F9F5E7;
$transition: .3s;
$color_white: #fff;
$color_text: #212427;